.cs__anchor {
  position: relative;
  display: inline-block;
}

.cs__anchor .cs__tooltiptext {
  font-size: 14px;
  font-weight: 400;
  visibility: hidden;
  width: fit-content;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 90%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  outline: none;
}

.cs__anchor .cs__tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.cs__anchor:hover .cs__tooltiptext {

  visibility: visible;
  opacity: 1;
}
.cs__tooltiptext:hover {
  cursor: pointer;
}
